// Font

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Variable

$color_1: #0c0a3e;
$color_2: #7b1e7a;
$color_3: #9490ac;
$color_4: rgba(12, 10, 62, 0.8);
$font: 'Roboto', sans-serif;

// Reset

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font;
}
a {
	text-decoration: none;
	color: $color_3;
	&:visited {
		color: $color_3;
	}
}

// General

body {
	height: 100vh;
	background: linear-gradient(to top, $color_1 50%, $color_2 50%);
}
